#GetStarted{
    width: 200px;
    height: 70px;
    background-color: #164B99;
    color: white;
    border-radius: 50px;
    box-shadow: black;
}

#WatchVideo{
    width: 200px;
    height: 70px;
    background-color: white;
    color: black;
    border-radius: 50px;
    border-color: #164B99;
}

#LearnMore{
    width: 150px;
    height: 50px;
    background-color: rgba(159, 86, 255, 0.863);
    color: white;
    border-radius: 50px;
    box-shadow: black;
}
.Body{
    text-align: center;
    justify-content: center;
}


.card-text{
    margin-top: 120px;
    height: 200px;
}
.card{
    border:none;
}

.userCard{
background: none;
}

.card-title{
    color: #164B99;
}

.User h5{
    font-weight: normal;
    font-size:18px;
}
.User p{
    font-weight: lighter;
    font-size:18px;
}